  .close{
    margin-left: 600px;
    font-weight: bolder;
    margin-top: 40px;
    font-size: larger;
    justify-self: flex-end;
    border-style: none;
    background-color: transparent;
  }
  .pi-load{
    display: grid;
    align-self: center;
    background-color: none;
    height: 500px;
    justify-content: space-around;
    margin-top: 190px;
    padding-top: 40px;
  }
  .pi-icon{
    height: 450px;
  }
  .pi-icon:hover{
    height: 350px;
    transition: 1.7s;
  }
  .desc{
    font-size: xx-large;
    font-weight: bolder;
    align-self: center;
    display: grid;
    justify-content: space-around;
    margin-top: 140px;
    color: rgb(232, 232, 3);
    position: fixed;
    margin-top: 700px;
    justify-self: center;
  }
  .lower-title{
    margin-top: -20px;
    margin-left: 35px;
  }
